<html>
  <body>
      <img src="http://www.clearwaterhistoricalsociety.org/wp-content/uploads/2016/03/clipart-letters-free-jix5pyGiE.png">
      <h1>Mail</h1>
      <hr>
      Name: <%= @msg.name %><br>
      email: <%= @msg.email %>
      <h4>Contenido</h4>
      <%= @msg.content %>
  </body>
</html>