<div class='content current' id='home'>
            <div class="wrapper">
                <header>
                    <nav id="nav">
                        <ul>
                            <li><a href="#acerca" id="about">Acerca de nosotros</a></li>
                            <li><a href="#servicios" id="services">Servicios</a></li>
                            <li><a href="#contactenos" id="contact">Contactenos</a></li>
                        </ul>
                    </nav>
                </header>
                <div class="wrapper-content">
                    <section id="home-text">
                        <div id="home-title">
                            <img src="/assets/logospruebaesosaver/logo.png" class="logo" >
                            <!--Lorem <span>Ipsun</span> -->
                            <div id="owl-demo" class="owl-carousel owl-theme">
                                <div class="item"><h2>Lorem ipsum dolor sit amet.</h2></div>
                                <div class="item"><h2>consectetur adipiscing elit.</h2></div>
                                <div class="item"><h2>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2></div>
                            </div>
                        </div>
                    </section>
                </div>
                <a href="#acerca" class="cd-scroll-down cd-img-replace">scroll down</a>
            </div>
        </div>
        <div class='content' id='acerca'></div>
        <div class='content' id='servicios'>
            <div class="wrapper">
                <header id="servicios-title">SERVICIOS</header>
                <div id="item-servicios">
                    <div class="item-service">
                        <div class="icon"><i class="fa fa-television"></i></div>
                        <span><div class="item-title">venta de equipos de computacion</div></span>
                        <p><a href="">LEARN MORE</a></p>
                    </div>
                    <div class="item-service">
                        <div class="icon"><i class="fa fa-wrench"></i></div>
                        <span><div class="item-title">soporte tecnico en computacion</div></span>
                        <p><a href="">LEARN MORE</a></p>
                    </div>
                    <div class="item-service">
                        <div class="icon"><i class="fa fa-video-camera"></i></div>
                        <span><div class="item-title">CCTV</div></span>
                        <p><a href="">LEARN MORE</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class='content' id='contactenos'>
            <div class="wrapper">
                <header>
                    <nav id="nav-contact">
                        <ul>
                            <li><%= link_to new_message_path do %><i class="fa fa-envelope-o"></i> <p>Escribenos</p><% end %></li>
                            <li><a href="javascript:void(0)" onclick="$('#payment').show(100); $('#fade').show();"><i class="fa fa-money"></i><p>Metodos de pagos</p></a></li>
                            <li><a id="map-btn"><i class="fa fa-map"></i><p>mapa</p></a></li>
                        </ul>                        
                    </nav>
                </header>
                <div id="space"></div>
                <div id="info">
                    <span>
                        Horario de Atención y Despacho:
                        <br>Lunes a Viernes
                        <br>8:00am a 1:00pm
                        <br>2:00pm a 5:00pm
                    </span>
                </div>
                <div id="space"></div>
                
                <div id="map" class="white_content">
                    <p>
                        <a href = "javascript:void(0)" onclick = "$('#map').hide(100); $('#fade').hide();"><span>Cerrar</span> <i class="fa fa-close"></i></a>
                    </p>
                    <div class='embed-container'>
                    </div>
                </div>
                
                <div id="payment" class="row payment">
                    <p><a href = "javascript:void(0)" onclick = "$('#payment').hide(100); $('#fade').hide();"><span>Cerrar</span> <i class="fa fa-close"></i>
</a></p>
                    <div class="large-12 medium-12 small-12 columns">
                            <p>Formas de pago</p>
                            <ul>
                                <li>Deposito</li>
                                <li>Cheque</li>
                                <li>Transferencia</li>
                            </ul>
                        </div>   
                        <div class="large-6 medium-6 small-6 columns">
                            <span>Lanbox Store C.A.</span><br>
                            J-40546566-2<br>
                            Banesco <br>
                            Cuenta Corriente<br>
                            0134 0276 16 2761017369 
                        </div>
                        <div class="large-6 medium-6 small-6 columns">
                            <span>Kristell Graff</span><br>
                            V-17.985.118<br>
                            Mercantil<br>
                            Cuenta Corriente<br>
                            0105 0118 13 1118763831
                        </div>
                        <div class="large-6 medium-6 small-6 columns">
                            <br><span>Daniel Moreno</span><br>
                            V-17.016.512<br>
                            Banco de Venezuela<br>
                            Cuenta Corriente<br>
                            0102 0117 90 0000243320
                        </div>
                        <div class="large-5 medium-4 small-5 columns">
                            <br><span>Daniel Moreno</span><br>
                            V-17.016.512<br>
                            Banco Activo<br>
                            Cuenta Corriente<br>
                            0107 0014 90 6000991087
                        </div>        

                </div>
                <div id="fade" class="black_overlay"></div>
            </div>
        </div>