*{
 transition: all 0.5s;
}

@font-face {
    font-family: 'chunkfive';
    src: url("fonts/ChunkFive/Chunkfive.otf") format("opentype");
}

#owl-demo .item {
    margin: auto;
    text-align: center;
    display: block;
    width: 60%;
    height: auto;
}

/* Loader */
#loader {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    padding-top: 8%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: -webkit-linear-gradient(90deg, #000 10%, #111 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #000 10%, #111 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #000 10%, #111 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #000 10%, #111 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #000 10%, #111 90%); /* W3C */
    text-align: center;
}

#loader .fa-power-off {
    font-size: 45vh;
    color: #FFF;    
    display: inline;
    margin-top: 50%;
    animation: shine 2s infinite ease-in;
}

#loader span {
    font-family: 'Dosis', sans-serif;
    font-size: 5vh;
    color: #FFF;
    animation: shine-loading 2s infinite ease-in;
}

#dot1 {
    animation: visibility 2s infinite ease-in;
}

#dot2 {
    animation: visibility 2.2s infinite ease-in;
}

#dot3 {
    animation: visibility 2.4s infinite ease-in;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 30px #F00;
    }
    
    50% {
        text-shadow: 0 0 90px #F00;
    }
    
    100% {
        text-shadow: 0 0 30px #F00;
    }
}

@keyframes shine-loading {
    0% {
        text-shadow: 0 0 50px #3a3a8a;
    }
    
    50% {
        text-shadow: 0 0 90px #3a3a8a;
    }
    
    100% {
        text-shadow: 0 0 50px #3a3a8a;
    }
}

@keyframes visibility {
    0% {
        visibility: visible;
    }
    
    50% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
}
/* End of Loader */

html,body {
  height:100%;
  margin:0;
}

.content {
    height:100%;
    min-height:100%;/*for mozilla*/
    box-shadow: 0 0 5px 10px #000;
}

html>body .content {
  height:auto;
}

.wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* HOME */

#nav {
    float: right;
    width: 100%;
    margin-top: 0.1%;
    margin-bottom: 13.8%;
}

#nav ul li{
    display: inline-block;
    margin-right: 5%;
}

#nav ul li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: calc(1.2vw + 1.2vh + 0.6vmin);
    text-decoration: none;
    color: #e8e8e8;
}

#nav ul li:hover{
    transform: scale(1.2);
}

#home {
  /*  -webkit-filter: blur(4px);    */
    background: url(home.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background: -webkit-linear-gradient(90deg, #000 10%, #111 90%); 
    background:    -moz-linear-gradient(90deg, #000 10%, #111 90%);
    background:     -ms-linear-gradient(90deg, #000 10%, #111 90%);
    background:      -o-linear-gradient(90deg, #000 10%, #111 90%);
    background:         linear-gradient(90deg, #000 10%, #111 90%);*/
    text-align: center;
}

/*
#home:hover{
    -webkit-filter: blur(0px);
}*/

.wrapper-content {
    clear: both;
}

#home-text {
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    text-align: center;
    clear: both;
    color: #FFF;
}

#home-text h2 {
    margin: auto;
    width: 100%;
    font-size: 4.2vh;
}

#home-title {
    font-size: 12vh;
    padding: 1.1%;
}

#home-title span {
    color: #c12;
}

.logo {
    max-width: 60%;
}

/* END OF HOME */

#acerca {
  background-color: #555;
}

/* SERVICIOS */

#servicios {
 /* background-color: #000; */
    background: url(service.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#servicios-title {
    text-shadow: 10px 5px 6px #101010;
    padding-top: 1%;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 12vh;
}

#item-servicios {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
}

.item-service {
    margin: 1%;
    float: left;
    text-align: center;
    overflow: hidden;
    width: 31.3%;
    min-width: 125px;
    min-height: 150px;
}

.item-service i {
    font-size: 12vh;
}

.fa-television {
    padding-bottom: 4%;
    animation: icon-shining 2.4s infinite ease-in;
    color: #fff;
}

.fa-wrench {
    padding-bottom: 4%;
    animation: icon-shining 2.4s infinite ease-in;
    color: #fff;
}

.fa-video-camera {
    padding-bottom: 4%;
    animation: icon-shining 2.4s infinite ease-in;
    color: #fff;
}

.item-service span{
    text-transform: uppercase;
    font-family: chunkfive;
    color: #fff;
    font-size: 2.5vw;
    text-shadow: 10px 5px 6px #101010;
    word-wrap: break-word;
}

.item-title {
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}

.item-service a {
  background: -webkit-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* W3C */        
    border: 1px solid #444;
    text-shadow: 4px 3px 4px #101010;
    color: #fff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    padding: 4.2%;
}

.item-service a:hover {
    text-shadow: 7px 6px 8px #101010;
}

@keyframes icon-shining {
    0% {
        text-shadow: 1px 2px 5px #ee000e;
    }
    
    50% {
        text-shadow: 1px 2px 50px #ee000e;
    }
    
    100% {
        text-shadow: 1px 2px 5px #ee000e;
    }
}

/* END OF SERVICIOS */

/*  CONTACT US */

#contactenos {
 /* background-color: #000; */
    background: url(contact-us-wallpaper.png);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-title {
    text-shadow: 10px 5px 6px #101010;
    padding-top: 1%;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 12vh;
}

#nav-contact .fa-envelope-o, #nav-contact .fa-money, #nav-contact .fa-map {
    font-size: 8.5vw;
}

#nav-contact {
    text-shadow: 0 0 30px #000;
    text-align: center;
    float: right;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

#space {
    clear: both;
    height: 0.14vw;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
}

#nav-contact ul {
    text-align: center;
}

#nav-contact ul li {
    display: inline-block;
    margin-right: 13%;
    text-align: center;
}

#nav-contact ul li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 4.5vh;
    text-decoration: none;
    color: #e8e8e8;
    transition: all 0.01s;
}

#nav-contact ul li p:hover {
    transform: scale(1.1);
}

#nav-contact ul li a:hover {
    text-shadow: 0 0 30px #F00;
}

@media screen and (max-width: 39.99em) {
    #nav-contact {
        text-align: center;
        margin-top: 0.5vh;
        margin-bottom: 0.2em;
    }
    
    #nav-contact ul li {
        display: block;
    }
    
    #nav-contact ul li a {
        font-size: calc(1vw + 1vh + 0.6vmin);
    }
}

#info {
    padding-bottom: 4vh;
    opacity: 0.9;
    font-family: 'Dosis', sans-serif;
    color: #D7D7D7;
    font-size: calc(1vw + 1vh + 1vmin);
    overflow: auto;
    clear: both;
    text-align: center;
}

.black_overlay {
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
    border-radius: 25px;
	display: none;
	position: fixed;
	top: 0.5%;
	left: -1%;
	width: 100%;
	height: 95%;
	padding: 0.5%;
	background-color: transparent;
	z-index:1002;
	overflow: auto;
}

.white_content a {
    text-decoration: none;
	float: right;
    color: #000;
    font-size: 1.5em;
    transition: all 0s;
}

.white_content a span {
    text-decoration: none;
    color: #000;
    font-size: 0.8em;
    transition: all 0.1s;
    font-weight: 900;
}

.payment {
    display: none;
    overflow: hidden;
    position: fixed;
    background-color: white;
    width: 49%;
	min-height: 60%;
    top: 1%;
    left: 25%;
    text-align: center;
    z-index: 1500;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 10px;
    text-align: center;
}

.container{
    overflow: hidden;
    text-align: center;
}

.payment .columns {
    text-decoration: none;
    color: #000;
    font-family: 'Dosis', sans-serif;
    /*font-size: calc(0.8vw + 0.8vh + 0.6vmin);*/
    transition: all 0s;
}

.payment .columns p {
    font-weight: 900;
    font-size: calc(1vw + 1vh + 0.6vmin);
}

.payment .columns span {
    font-weight: 700;
    color: #000;
    text-shadow: -1px 1px 1px #888;
}

.payment .columns ul li {
    font-weight: 600;
    display: block;
}

.payment a {
    text-decoration: none;
	float: right;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    transition: all 0s;
    padding-right: 2%;
}

.payment a:hover span {
    color: #111;
    text-shadow: 0px 0px 0px #000;
}

.payment a:hover {
    color: #d31f45;
    text-shadow: -1px 1px 1px #000;
}

@media only screen and (max-width: 90.063em) {
    .payment{
      /*  left: calc(12vw + 15vh + 8vmin);*/
        left: calc(1.5vw + 2vh + 5vmin);
        width: 90%;
    }
    
    .payment .columns {
        text-decoration: none;
        color: #000;
        font-family: 'Dosis', sans-serif;
        font-size: 0.6em;
    }
    
    .payment .columns p {
        font-weight: 900;
        font-size: 1em;
    }
}

.embed-container {
    clear: both;
    position: relative;
    padding-bottom: 45.9%;
    height: 0;
    overflow: hidden;
}


#map-btn{
    cursor:pointer;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#map i, #map span {
    color: #d31f45;    
    font-weight: 900;
}

#map span {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}

#map a:hover i {
    color: #FF0000;
    text-shadow: 1px 1px 1px #888;
}

/* END OF CONTACT US */

/* CONTACT FORM 

.background-contact {
    overflow: hidden;
    background: url(../img/contact-us.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.background-contact a {
    text-decoration: none;
    font-size: 1.5em;
    color: #FFF;
    padding: 15px;
}

.background-contact a:hover {
    text-decoration: none;
    color: #d9d8d9;
    text-shadow: 5px 5px 10px #555;
}

.contact-section {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact-form label {
    padding-top: 5%;
    display: block;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    color: #fff;
    font-weight: 900;
}

.contact-form  input[type='text'], .contact-form  input[type='email'] {
    background-color: transparent;
    background-image: none;
    outline: 0;
    border: 0 solid #999;
    border-bottom-width: 3px;
    border-radius: 0;
    cursor: pointer;
    line-height: normal;
    letter-spacing: .05em;
    color: #555;
    font-family: font-family: 'Dosis', sans-serif;
    -webkit-font-smoothing: antialiased;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 80%;
}

.contact-form textarea {
    min-height: 250px;
    resize: none;
    width: 80%;
}

END OF CONTACT FORM */

#five {
  background-color: #000;
}

.cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("cd-arrow-bottom.svg") no-repeat center top;
    background-size: 2.37em;
}

.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    animation: bounce 1.2s infinite ease-in;
}
/* PAYMENT METHOD */

#payment-method {
    box-shadow: 0 0 1px 5px rgb(25, 25, 25);
    text-align: center;
  /*  background: url(../img/330481.jpg);    */
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(52, 52, 70);
}

.payment-section {
    background-color: #000;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    cursor: default;
}

#payment-method i {
    color: #fff;
    font-size: 5.4em;
}

#payment-method h1 {
    margin-top: 4px;
    padding-bottom: 50px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 3.5em;
    text-decoration: none;
    color: #fff;
    transition: all 0.01s;
}

.payment-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* you do realize this makes no sense, right?
don't use this.
http://www.youtube.com/watch?v=umDr0mPuyQc */
.shape {
    text-shadow: rgb(11, 11, 15) 1px 1px,
    rgb(11, 11, 15) 2px 2px,
    rgb(11, 11, 15) 3px 3px,
    rgb(11, 11, 15) 4px 4px,
    rgb(11, 11, 15) 5px 5px,
    rgb(11, 11, 15) 6px 6px,
    rgb(11, 11, 15) 7px 7px,
    rgb(11, 11, 15) 8px 8px,
    rgb(11, 11, 15) 9px 9px,
    rgb(11, 11, 15) 10px 10px,
    rgb(11, 11, 15) 11px 11px,
    rgb(11, 11, 15) 12px 12px,
    rgb(11, 11, 15) 13px 13px,
    rgb(12, 12, 17) 14px 14px,
    rgb(14, 14, 20) 15px 15px,
    rgb(16, 16, 22) 16px 16px,
    rgb(18, 18, 25) 17px 17px,
    rgb(20, 20, 28) 18px 18px,
    rgb(22, 22, 30) 19px 19px,
    rgb(24, 24, 33) 20px 20px,
    rgb(26, 26, 35) 21px 21px,
    rgb(28, 28, 38) 22px 22px,
    rgb(30, 30, 41) 23px 23px,
    rgb(32, 32, 43) 24px 24px,
    rgb(34, 34, 46) 25px 25px,
    rgb(36, 36, 49) 26px 26px,
    rgb(38, 38, 51) 27px 27px,
    rgb(40, 40, 54) 28px 28px,
    rgb(42, 42, 56) 29px 29px,
    rgb(44, 44, 59) 30px 30px,
    rgb(46, 46, 62) 31px 31px,
    rgb(48, 48, 64) 32px 32px,
    rgb(50, 50, 67) 33px 33px,
    rgb(52, 52, 70) 34px 34px;
    background-color: rgb(52, 52, 70);
    height: 100%;
    width: 100%;
    font-size: 75px;
    text-align: center;
}

/* END OF PAYMENT METHODS*/

@keyframes bounce {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(-50%);
    }
}