*{
 transition: all 0.5s;
}

@font-face {
    font-family: 'chunkfive';
    src: url("fonts/ChunkFive/Chunkfive.otf") format("opentype");
}

#owl-demo .item {
    margin: auto;
    text-align: center;
    display: block;
    width: 60%;
    height: auto;
}

/* Loader */
#loader {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    padding-top: 8%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: -webkit-linear-gradient(90deg, #000 10%, #111 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #000 10%, #111 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #000 10%, #111 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #000 10%, #111 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #000 10%, #111 90%); /* W3C */
    text-align: center;
}

#loader .fa-power-off {
    font-size: 45vh;
    color: #FFF;    
    display: inline;
    margin-top: 50%;
    animation: shine 2s infinite ease-in;
}

#loader span {
    font-family: 'Dosis', sans-serif;
    font-size: 5vh;
    color: #FFF;
    animation: shine-loading 2s infinite ease-in;
}

#dot1 {
    animation: visibility 2s infinite ease-in;
}

#dot2 {
    animation: visibility 2.2s infinite ease-in;
}

#dot3 {
    animation: visibility 2.4s infinite ease-in;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 30px #F00;
    }
    
    50% {
        text-shadow: 0 0 90px #F00;
    }
    
    100% {
        text-shadow: 0 0 30px #F00;
    }
}

@keyframes shine-loading {
    0% {
        text-shadow: 0 0 50px #3a3a8a;
    }
    
    50% {
        text-shadow: 0 0 90px #3a3a8a;
    }
    
    100% {
        text-shadow: 0 0 50px #3a3a8a;
    }
}

@keyframes visibility {
    0% {
        visibility: visible;
    }
    
    50% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
}
/* End of Loader */

html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}

html>body .content {
  height:auto;
}

.wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* HOME */

#nav {
    float: right;
    width: 100%;
    margin-top: 0.1%;
    margin-bottom: 13.8%;
}

#nav ul li{
    display: inline-block;
    margin-right: 5%;
}

#nav ul li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: calc(1.2vw + 1.2vh + 0.6vmin);
    text-decoration: none;
    color: #e8e8e8;
}

#nav ul li:hover{
    transform: scale(1.2);
}

#home {
  /*  -webkit-filter: blur(4px);    */
    background: url(home.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background: -webkit-linear-gradient(90deg, #000 10%, #111 90%); 
    background:    -moz-linear-gradient(90deg, #000 10%, #111 90%);
    background:     -ms-linear-gradient(90deg, #000 10%, #111 90%);
    background:      -o-linear-gradient(90deg, #000 10%, #111 90%);
    background:         linear-gradient(90deg, #000 10%, #111 90%);*/
    text-align: center;
}

/*
#home:hover{
    -webkit-filter: blur(0px);
}*/

.wrapper-content {
    clear: both;
}

#home-text {
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    text-align: center;
    clear: both;
    color: #FFF;
}

#home-text h2 {
    margin: auto;
    width: 100%;
    font-size: 4.2vh;
}

#home-title {
    font-size: 12vh;
    padding: 1.1%;
}

#home-title span {
    color: #c12;
}

.logo {
    max-width: 60%;
}

/* END OF HOME */

#acerca {
  background-color: #555;
}

/* SERVICIOS */

#servicios {
 /* background-color: #000; */
    background: url(service.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#servicios-title {
    text-shadow: 10px 5px 6px #101010;
    padding-top: 1%;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 12vh;
}

#item-servicios {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
}

.item-service {
    margin: 1%;
    float: left;
    text-align: center;
    overflow: hidden;
    width: 31.3%;
    min-width: 125px;
    min-height: 150px;
}

.item-service i {
    font-size: 12vh;
}

.fa-television {
    padding-bottom: 4%;
    animation: icon-shining 2.4s infinite ease-in;
    color: #fff;
}

.fa-wrench {
    padding-bottom: 4%;
    animation: icon-shining 2.4s infinite ease-in;
    color: #fff;
}

.fa-video-camera {
    padding-bottom: 4%;
    animation: icon-shining 2.4s infinite ease-in;
    color: #fff;
}

.item-service span{
    text-transform: uppercase;
    font-family: chunkfive;
    color: #fff;
    font-size: 2.5vw;
    text-shadow: 10px 5px 6px #101010;
    word-wrap: break-word;
}

.item-title {
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
}

.item-service a {
  background: -webkit-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* W3C */        
    border: 1px solid #444;
    text-shadow: 4px 3px 4px #101010;
    color: #fff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    padding: 4.2%;
}

.item-service a:hover {
    text-shadow: 7px 6px 8px #101010;
}

@keyframes icon-shining {
    0% {
        text-shadow: 1px 2px 5px #ee000e;
    }
    
    50% {
        text-shadow: 1px 2px 50px #ee000e;
    }
    
    100% {
        text-shadow: 1px 2px 5px #ee000e;
    }
}

/* END OF SERVICIOS */

/*  CONTACT US */

#contactenos {
 /* background-color: #000; */
    background: url(contact-us-wallpaper.png);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav-contact .fa-envelope-o, #nav-contact .fa-money, #nav-contact .fa-map {
    font-size: 8.5vw;
}

#nav-contact {
    text-shadow: 0 0 30px #000;
    text-align: center;
    float: right;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 4vh;
}

#space {
    clear: both;
    height: 0.14vw;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
}

#nav-contact ul li {
    display: inline-block;
    margin-right: 13%;
    text-align: center;
}

#nav-contact ul li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 4.5vh;
    text-decoration: none;
    color: #e8e8e8;
    transition: all 0.01s;
}

#nav-contact ul li p:hover {
    transform: scale(1.1);
}

#nav-contact ul li a:hover {
    text-shadow: 0 0 30px #F00;
}

@media screen and (max-width: 39.99em) {
    #nav-contact {
        text-align: center;
        margin-top: 0.5vh;
        margin-bottom: 0.2em;
    }
    
    #nav-contact ul li {
        display: block;
    }
    
    #nav-contact ul li a {
        font-size: calc(1vw + 1vh + 0.6vmin);
    }
}

#info {
    padding-bottom: 4vh;
    opacity: 0.9;
    font-family: 'Dosis', sans-serif;
    color: #D7D7D7;
    font-size: calc(1vw + 1vh + 1vmin);
    overflow: auto;
    clear: both;
    text-align: center;
}

.black_overlay{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
    border-radius: 25px;
	display: none;
	position: fixed;
	top: 0.5%;
	left: -1%;
	width: 100%;
	height: 95%;
	padding: 0.5%;
	background-color: transparent;
	z-index:1002;
	overflow: auto;
}

.white_content a {
    text-decoration: none;
	float: right;
    color: #000;
    font-size: 1.5em;
    transition: all 0s;
}

.white_content a span {
    text-decoration: none;
    color: #000;
    font-size: 0.8em;
    transition: all 0.1s;
    font-weight: 900;
}

.payment {
    display: none;
    overflow: hidden;
    position: fixed;
    background-color: white;
    width: 99%;
	min-height: 60%;
    top: 1%;
    left:  calc(0.2vw + 0.2vh + 0.2vmin);
    text-align: center;
    z-index: 1500;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 10px;
    text-align: center;
}

@media only screen and (min-width: 90.063em) {
    .payment{
        left: 15%;
    }
}

.payment .columns {
    text-decoration: none;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-size: calc(0.8vw + 0.8vh + 0.6vmin);
    transition: all 0s;
}

.payment .columns p {
    font-weight: 900;
    font-size: calc(1vw + 1vh + 0.6vmin);
}

.payment .columns span {
    font-weight: 700;
    color: #000;
    text-shadow: -1px 1px 1px #888;
}

.payment .columns ul li {
    font-weight: 600;
    display: block;
}

.payment a {
    text-decoration: none;
	float: right;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    transition: all 0s;
    padding-right: 2%;
}

.payment a:hover span {
    color: #111;
    text-shadow: 0px 0px 0px #000;
}

.payment a:hover {
    color: #d31f45;
    text-shadow: -1px 1px 1px #000;
}

.embed-container {
    clear: both;
    position: relative;
    padding-bottom: 45.9%;
    height: 0;
    overflow: hidden;
}


#map-btn{
    cursor:pointer;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#map i, #map span {
    color: #d31f45;    
    font-weight: 900;
}

#map span {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}

#map a:hover i {
    color: #FF0000;
    text-shadow: 1px 1px 1px #888;
}

/* END OF CONTACT US */

/* CONTACT FORM */


/* END OF CONTACT FORM */

#five {
  background-color: #000;
}

.cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("cd-arrow-bottom.svg") no-repeat center top;
    background-size: 2.37em;
}

.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    animation: bounce 1.2s infinite ease-in;
}

@keyframes bounce {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(-50%);
    }
}