*{
 transition: all 0.5s;
}

html {
    background-color: #000;
}

.columns {
    min-height: 100px;
}

@font-face {
    font-family: 'chunkfive';
    src: url("fonts/ChunkFive/Chunkfive.otf") format("opentype");
}

#owl-demo .item {
    margin: auto;
    text-align: center;
    display: block;
    width: 60%;
    height: auto;
}

/* Loader */
#loader {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    padding-top: 8%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: -webkit-linear-gradient(90deg, #000 10%, #111 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #000 10%, #111 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #000 10%, #111 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #000 10%, #111 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #000 10%, #111 90%); /* W3C */
    text-align: center;
}

#loader .fa-power-off {
    font-size: 45vh;
    color: #FFF;    
    display: inline;
    margin-top: 50%;
    animation: shine 2s infinite ease-in;
}

#loader span {
    font-family: 'Dosis', sans-serif;
    font-size: 5vh;
    color: #FFF;
    animation: shine-loading 2s infinite ease-in;
}

#dot1 {
    animation: visibility 2s infinite ease-in;
}

#dot2 {
    animation: visibility 2.2s infinite ease-in;
}

#dot3 {
    animation: visibility 2.4s infinite ease-in;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 30px #F00;
    }
    
    50% {
        text-shadow: 0 0 90px #F00;
    }
    
    100% {
        text-shadow: 0 0 30px #F00;
    }
}

@keyframes shine-loading {
    0% {
        text-shadow: 0 0 50px #3a3a8a;
    }
    
    50% {
        text-shadow: 0 0 90px #3a3a8a;
    }
    
    100% {
        text-shadow: 0 0 50px #3a3a8a;
    }
}

@keyframes visibility {
    0% {
        visibility: visible;
    }
    
    50% {
        visibility: hidden;
    }
    
    100% {
        visibility: hidden;
    }
}
/* End of Loader */

html,body {
  height:100%;
  margin:0;
}

.content {
    height:100%;
    min-height:100%;/*for mozilla*/
    box-shadow: 0 0 5px 10px #000;
}

html>body .content {
  height:auto;
}

.wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* HOME */

#nav {
    float: right;
    width: 100%;
    margin-top: 0.1%;
    margin-bottom: 13.8%;
}

#nav ul li{
    display: inline-block;
    margin-right: 5%;
}

#nav ul li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: #e8e8e8;
}

#nav ul li:hover{
    transform: scale(1.2);
}

.home {
  /*  -webkit-filter: blur(4px);    */
    background: url(home.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background: -webkit-linear-gradient(90deg, #000 10%, #111 90%); 
    background:    -moz-linear-gradient(90deg, #000 10%, #111 90%);
    background:     -ms-linear-gradient(90deg, #000 10%, #111 90%);
    background:      -o-linear-gradient(90deg, #000 10%, #111 90%);
    background:         linear-gradient(90deg, #000 10%, #111 90%);*/
    text-align: center;
}

/*
#home:hover{
    -webkit-filter: blur(0px);
}*/

.wrapper-content {
    clear: both;
}

#home-text {
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    text-align: center;
    clear: both;
    color: #FFF;
}

#home-text h2 {
    margin: auto;
    width: 100%;
    font-size: 4.2vh;
}

#home-title {
    font-size: 12vh;
    padding: 1.1%;
}

#home-title span {
    color: #c12;
}

.logo {
    max-width: 60%;
}

.cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("cd-arrow-bottom.svg") no-repeat center top;
    background-size: 2.37em;
}

@keyframes bounce {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(-50%);
    }
}

.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    animation: bounce 1.2s infinite ease-in;
}

/* Large Screens */

@media only screen and (min-width: 64.063em) {
    #nav ul li a {
        font-size: 2em;
    }
    
    .fullWidth {
        min-width: 100%;
        background: url('service.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .row-large {
        min-width: 90%;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
        padding-top: 1%;
    }
    
    .fullWidth h1 {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 7em;
        color: rgba(255,255,255,0.89);
        text-shadow: -5px 5px 10px #111;
    }
    
    .fullWidth .first:hover, .fullWidth .second:hover, .fullWidth .third:hover {
        border: 20px solid rgba(255,255, 255, 0.95);
        box-shadow: 0px 0px 50px rgba(255,255, 255, 0.5), 0px 0px 15px rgba(255,255, 255, 0.2), 0px 0px 25px rgba(1,255, 255, 0.5);
    }
    
    .first {
        padding: 1px;
        position: relative;
        left: 30vw;
        min-height: 550px;
        min-width: 550px;
        max-width: 550px;
        border-radius: 50%;
        border: 20px solid rgba(255,255, 255, 0.5);
    }
    
    .first img {
        position: absolute;
        -webkit-filter: invert(90%);        
        width: 250px;
        left: 140px;
        top: 50px;
    }
    
    /*.second {
        position: relative;
        left: 30%;
        top: 15%;
        min-height: 550px;
        min-width: 550px;
        max-width: 550px;
        border-radius: 50%;
        border: 20px solid rgba(255,255, 255, 0.5);
    }*/
    
    .second {
        position: relative;
        margin-top: 1%;
        right: -10vw;
        clear: both;
        margin-right: 10%;
        min-height: 550px;
        min-width: 550px;
        max-width: 550px;
        border-radius: 50%;
        border: 20px solid rgba(255,255, 255, 0.5);
    }
    
    .second img {
        position: absolute;
        -webkit-filter: invert(100%);        
        width: 330px;
        left: 110px;
        top: 40px;
    }
    
   .third {
       position: relative;
       margin-top: 1%;
       margin-right: 11vw;
       min-height: 550px;
       min-width: 550px;
       max-width: 550px;
       border-radius: 50%;
       border: 20px solid rgba(255,255, 255, 0.5);
    }
    
    .contenido {
        text-align: center;
        top: 30px;
        left: 30px;
        padding: 1px;
        position: absolute;
        color: #fff;
        font-size: 1.5em;
        border-radius: 50%;
        min-height: 450px;
        min-width: 450px;
        border: 2px solid rgba(50,50, 50, 0.9);
    }
    
    .third img {
        position: absolute;
        -webkit-filter: invert(80%);        
        width: 180px;
        left: 160px;
        top: 60px;
    }
    
    .fullWidth .contenido:hover {
        border: 2px solid rgba(250,250, 250, 0.5);
    }
    
    .contenido p {
        position: absolute;
        top: 220px;
        left: 1px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.1em;
    }
}

/* Medium Screens */

@media screen and (min-width: 40em) and (max-width: 64.0629em) {
    #nav ul li a {
        font-size: 1.8em;
    }
    
    .fullWidth {
        min-width: 100%;
        min-height: 100%;
        background: url('service.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 900px;
    }
    
    .row-large {
        min-width: 90%;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
        padding-top: 1%;
    }
    
    .fullWidth h1 {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 7em;
        color: rgba(255,255,255,0.89);
        text-shadow: -5px 5px 10px #111;
    }
    
    .fullWidth .first:hover {
        border: 20px solid rgba(255,255, 255, 0.95);
        box-shadow: 0px 0px 50px rgba(255,255, 255, 0.5), 0px 0px 15px rgba(255,255, 255, 0.2), 0px 0px 25px rgba(1,255, 255, 0.5);
    }
    
    .first {
        padding: 1px;
        position: relative;
        left: 29vw;
        min-height: 400px;
        min-width: 400px;
        max-width: 400px;
        border-radius: 50%;
        border: 20px solid rgba(255,255, 255, 0.5);
    }
    
    .first img {
        position: absolute;
        -webkit-filter: invert(90%);        
        width: 150px;
        left: 120px;
        top: 50px;
    }
    
    /*.second {
        position: relative;
        left: 30%;
        top: 15%;
        min-height: 550px;
        min-width: 550px;
        max-width: 550px;
        border-radius: 50%;
        border: 20px solid rgba(255,255, 255, 0.5);
    }*/    
    
    .content-first {
        text-align: center;
        top: 20px;
        left: 20px;
        padding: 1px;
        position: absolute;
        color: #fff;
        font-size: 1.5em;
        border-radius: 50%;
        min-height: 320px;
        min-width: 320px;
        border: 2px solid rgba(50,50, 50, 0.9);
    }
    
    .fullWidth .content-first:hover {
        border: 2px solid rgba(250,250, 250, 0.5);
    }
    
    .content-first p {
        position: absolute;
        top: 140px;
        left: 1px;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
    }
    
    .content-clear p {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2em;
        text-align: center;
    }
    
    .content-clear img {
        margin-left: 10.5vw;
        -webkit-filter: invert(80%);        
        max-width: 200px;
        max-height: 150px;
        min-width: 200px;
        min-height: 150px;
    }
    
    .content-clear:nth-child(2n+2) img {
        max-width: 170px;
        min-width: 170px;
    }
    
    .content-clear:nth-child(2n+2) {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 3px solid rgba(255, 255, 255, 0.7);
        border-bottom: 3px solid rgba(255, 255, 255, 0.7);
        min-width: 43vw;
        margin-left: 20%;
        margin-top: 26em;
        position: absolute;        
    }
    
    .content-clear:nth-child(2n+1) {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 3px solid rgba(255, 255, 255, 0.7);
        border-bottom: 3px solid rgba(255, 255, 255, 0.7);
        min-width: 43vw;
        margin-left: 38%;
        margin-top: 26em;
        position: absolute;
    }
    
    .content-clear:hover {
        border-top: 3px solid rgba(255, 255, 255, 1);
        border-bottom: 3px solid rgba(255, 255, 255, 1);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1025px) {
    .content-clear:nth-child(2n+2) {
        min-width: 43vw;
        margin-left: 4%;
        margin-top: 26em;
        position: absolute;
    }
    
    .content-clear:nth-child(2n+1) {
        min-width: 43vw;
        margin-left: 53%;
        margin-top: 26em;
        position: absolute;
    }
    
    .content-clear img {
        margin-left: 10.5vw;
        -webkit-filter: invert(80%);        
        max-width: 200px;
        max-height: 150px;
        min-width: 200px;
        min-height: 150px;
    }
}

/* Small Screens */
@media screen and (max-width: 39.9375em) {
    #nav ul li a {
        font-size: 1.4em;
    }
    
    .fullWidth {
        min-width: 100%;
        background: url('service.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .fullWidth h1 {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 5em;
        color: rgba(255,255,255,0.89);
        text-shadow: -5px 5px 10px #111;
    }
    
    .fullWidth .first:hover, .fullWidth .second:hover, .fullWidth .third:hover {
        box-shadow: 0px 0px 2px rgba(255,255, 255, 0.5), 0px 0px 1px rgba(255,255, 255, 0.2), 0px 0px 5px rgba(1,255, 255, 0.5);
    }
    
    .first, .second, .third {
        text-align: center;
        margin-top: 1px;
        padding: 15px;
        border-top: 0.05vw solid rgba(255,255, 255, 0.4);
        border-bottom: 0.05vw solid rgba(255,255, 255, 0.4);
        border-radius: 14px;
        transition: 0.8s;
    }
    
    .first, .third {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .first img {
        -webkit-filter: invert(90%);        
        width: 35%;
        margin-bottom: 10px;
    }
    
    .second img {
        -webkit-filter: invert(100%);
        width: 60%;
    }
    
    .third img {
        -webkit-filter: invert(80%);
        width: 29%;
        margin-bottom: 10px;
    }
    
    .contenido {
        padding: 1px;
        color: #fff;
        font-size: 1.5em;
    }
    
    .contenido p {
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }
}