<html>
  <body>
      <img src="http://www.clearwaterhistoricalsociety.org/wp-content/uploads/2016/03/clipart-letters-free-jix5pyGiE.png">
      <h1>Mail</h1>
      <hr>
    <%= yield %>
  </body>
</html>